<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Operadores con Experiencia</h2>
                <hr class="light">
                <p class="text-faded">Nuestros socios operadores cuentan con más de 30 años de experiencia acumulada en operar compañias desde PyMES hasta multinacionales en industrias variadas como el entretenimiento, internet, acero y bienes de lujo.</p>
            </div>
        </div>
    </div>
</section>
