<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>La oportunidad para la continuidad de su empresa.</h1>
            <hr>
            <p>Sultana del Norte es un fondo especializado en inversiones en PyMES es España y México, con socios operadores comprometidos con el éxito de nuestros <i>stakeholders</i>: nuestros inversionistas y la sociedad.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
