<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>La oportunidad para la continuidad de su empresa.</h1>
            <hr>
            <p>Sultana del Norte es un fondo nacido en Monterrey, México. Estamos especializado en inversiones en PyMES en España y México, con socios operadores en Madrid, comprometidos con el éxito de nuestros <i>stakeholders</i>: los inversionistas y la sociedad.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Conoce Más</a>
        </div>
    </div>
</header>
